@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  height: 60px;
  padding: 10px;
}
header ul li a {
  position: relative;

  line-height: 60px;
  font-size: 14px;

  padding: 0 10px;
}

header ul li a img {
  vertical-align: middle;
}
header ul.left {
  float: left;
}
header ul.left li {
  float: left;
}
header ul.right {
  float: right;
}
header ul.right li {
  float: left;
}
header ul.right li:nth-child(3) a {
  display: block;
}
header ul.right li:nth-child(3) a::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #f0f0f0;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
header ul.right li:nth-child(3) a:hover:before {
  opacity: 1;
}
header ul.right li:nth-child(3) a:hover::after {
  opacity: 1;
  transition-delay: 0.5s;
}
header ul.right li:nth-child(3) a::after {
  content: "google 앱";
  position: absolute;
  left: 0;
  opacity: 0;
  bottom: -50px;
  width: 100px;
  height: 30px;
  background: #404040;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  border-radius: 5px;
  color: #fff;
}
header ul.right li:nth-child(3) a span {
  position: relative;
  z-index: 1;
  line-height: 60px;
  display: block;
}
header ul.right li:last-child a {
  background: #1a73e8;
  border-radius: 60px;
  padding: 8px 16px;
  color: #fff;
}
header ul.right li:last-child a:hover {
  text-decoration: none;
}
header ul li a:hover {
  text-decoration: underline;
}
header ul.right li:nth-child(3) a:hover,
header ul.right li:last-child a:hover {
  text-decoration: none;
}

main {
  height: calc(100vh - 160px);
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
}
main ul.search {
  width: 880px;
  margin: 50px auto;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
}
main ul.search li {
  float: left;
}
main ul.search li input:focus {
  outline: none;
}
main ul.search input {
  width: 650px;
  width: 650px;
  padding: 10px;
  border: none;
}
main ul.search li img {
  width: 15px;
  padding-left: 20px;
  vertical-align: middle;
}

footer {
  background: #f2f2f2;
}
footer p {
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
}
footer .foot {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}
footer .foot ul .left {
  float: left;
}
footer .foot ul li a {
  padding: 0 20px;
  font-size: 14px;
}
footer .foot ul.left li {
  float: left;
}
footer .foot ul.right {
  float: right;
}
footer .foot ul.right li {
  float: left;
}
main ul.search:hover {
  box-shadow: rgba(0, 0, 0, 0.2);
  border-color: transparent;
}

main ul.btn {
  text-align: center;
}
main ul.btn li {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<ul class="left">
			<li><a href="#">Google 정보</a></li>
			<li><a href="#">스토어</a></li>
		</ul>
		<ul class="right">
			<li><a href="#">Gmail</a></li>
			<li><a href="#">이미지</a></li>
			<li><a href="#"><span class="material-symbols-outlined">
				apps
				</span></a></li>
			<li><a href="#">로그인</a></li>
		</ul>
	</header>
  <main>
		<p><img src="image/googlelogo.png" alt=""></p>
		<ul class="search">
			<li><p><img src="image/search.svg" alt="search"></p></li>
			<li><input type="search"></li>
			<li><p><img src="image/key_board.png" alt=""></p></li>
			<li><p><img src="image/mic.svg" alt=""></p></li>
			<li><p><img src="image/camera.svg" alt=""></p></li>
		</ul>
		<ul class="btn">
			<li><p>Google 검색</p></li>
			<li><p>I’m Feeling Lucky</p></li>
		</ul>
	</main>
	<footer>
		<p>대한민국</p>
		<div class="foot">
			<ul class="left">
				<li><a href="#">광고</a></li>
				<li><a href="#">비즈니스</a></li>
				<li><a href="#">검색의 원리</a></li>
			</ul>
			<ul class="right">
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">약관</a></li>
				<li><a href="#">설정</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>